<nav>
  <a
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    [routerLink]="['/book/1', { foo: 'foo' }]">Dragon Crisis</a>
  <a
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    [routerLink]="['/book/2']">Shark Crisis</a>
  <a
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    [routerLink]="['/book/3']">Pig Crisis</a>
  <a
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    [routerLink]="['/book', '4', { foo: 'foo' }]">Rabbit Crisis</a>
</nav>
